{% extends 'index.html' %}

{% block title %}Administrar proyecto{% endblock %}

{%block navlink%}
<li class="nav-item px-lg-4">
    <a class="nav-link text-uppercase border border-success" href="">Administrar proyecto</a>
</li>
<li class="nav-item px-lg-4">
    <a class="nav-link text-uppercase border border-success" href="{% url 'manage_students'%}">Administrar estudiantes</a>
</li>
<li class="nav-item px-lg-4">
    <a class="nav-link text-uppercase border border-success" href="">Actualizar proyecto</a>
</li>

{%endblock%}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header"><b>Proyecto: </b> {{ project.nombre }}</div>
        <div class="card-body">
            <p><b>Objetivo general:</b> {{ project.objetivo_general}}</p>
            <p><b>Fecha inicio: </b> {{ project.fecha_inicio}}</p>
            <p><b>Fecha Fin:</b> {{ project.fecha_fin }}</p>
            <p><b>Director del proyecto:</b> {{ project.director }}</p>
            <p><b>Presupuesto:</b> {{project.presupuesto}}</p>
            <p><b>Estado del proyecto:</b> {{ project.Estado }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header"><b>Objetivos específicos</b></div>
        <div class="card-body">
            {% if targets %}
            {% for target in targets %}
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <p>{{target.contenido}}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    

    
</div>
    
{% endblock %}