{% extends 'index.html' %}
{%load static%}
{% block title %}Gestion Proyecto{% endblock %}

{%block navlink%}
<li class="nav-item px-lg-4">
  <a class="nav-link text-uppercase border border-success active" href="{% url 'gestion_proyecto' %}">Gestion proyectos</a>
</li>
<li class="nav-item px-lg-4">
  <a class="nav-link text-uppercase border border-success" href="{% url 'make_project' %}">Crear proyecto</a>
</li>
{%endblock%}

{% block content %}
<div class="bd-masthead mb-3" id="content">
  <div class="container px-4 px-md-3">
    {% if projects  %}
    {% for project in projects  %}
      {% if user == project.director%}      
        {% if forloop.first %}<div class="row">{% endif %}
          <div class="col-4 mt-3">
              <div class="card h-100" >
                <img class="card-img-top" src="{% static 'img/banner.jpg'%}" alt="Card image cap">
                <div class="card-body" >
                  <h5 class="card-title">{{project.nombre }}</h5>
                  <hr/>
                  <h6 class="card-subtitle">Avance:{{project.porcentaje_avance }}</h6>
                  <p class="card-text">Estado: {{project.estado }}</p>
                  <p class="card-text">Director: {{project.director }}</p>
                  <p class="card-text">Objetivo: {{project.objetivo_general }}</p>
                </div>
                <div class="card-footer">
                  <a href="{%url 'admin_project' project.id%}" class="btn btn-primary"><i class="fa-solid fa-gear"></i> Administrar</a>
                </div>
              </div>
          </div>
        {% if forloop.counter|divisibleby:3 %}
          </div><div class="row">
        {% endif %}
        {% if forloop.last%}
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% include "paginat.html"%}
  {% else %}
      <div class="alert alert-danger">no hay nada aqui</div>
  {% endif %}
      
  </div>
</div>
  
{% endblock %}