{% extends 'index.html' %}

{% block title %}Crear proyecto{% endblock %}

{% load crispy_forms_tags %}

{%block navlink%}
<li class="nav-item px-lg-4">
  <a class="nav-link text-uppercase border border-success" href="{% url 'make_project' %}">Crear proyecto</a>
</li>
{%endblock%}

{% block content %}
<form method="POST" action="" class="mt-3" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
{% endblock %}